.places {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.places h1{
    margin-right: auto;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}
article h2 {
    font-size: 30px;
    align-items: center;
}