.places {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.places h1{
    margin-right: auto;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
}
.Title {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.price_by_night {
    color: #FF5A5F;
    border: solid #FF5A5F 4px ;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-left: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.max_guest {
width: 100px;
background-image: url("../images/icon_group.png");
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-content: flex-end;
flex-wrap: wrap;
}
.number_rooms {
width: 100px;
background-image: url("../images/icon_bed.png");
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-content: flex-end;
flex-wrap: wrap;
}
.number_bathrooms {
width: 100px;
background-image: url("../images/icon_bath.png");
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-content: flex-end;
flex-wrap: wrap;
}
.user {
font-weight: bold;
font-size: 20px;
display: flex;
}
.description {
    font-size: 15px;
    display: flex;

}